div{
    margin: auto;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
}

.playArea{
    text-align: center;
    position: relative;
    top: 120px;
    width: 1400px;
    height: 400px;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.playerSide{
    width: 550px;
}

.winner{
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    height: 350px;
}

.btnList{
    margin: 0%;
    padding: 0%;
    position: relative;
    top: 50px;
}

.button{
    width: 120px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

.rockBtn{
    background-image: url("rock.jpg");
}

.paperBtn{
    background-image: url("paper.jpg");
}

.scissorsBtn{
    background-image: url("scissors.jpg");
}
