div{
    margin: auto;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
}

.playArea{
    text-align: center;
    position: relative;
    top: 120px;
    width: 1400px;
    height: 400px;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.playerSide{
    width: 500px;
}

.winner{
    display: inline-block;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 370px;
    height: 400px;
}

.btnList{
    margin: 0%;
    padding: 0%;
    position: relative;
    top: -35px;
}

.button{
    cursor: pointer;
    width: 140px;
    height: 140px;
    background-position: center;
    background-size: cover;
}

.button:hover{
    transform: scale(1.1);
}

.choice{
    position: relative;
    top: 30px;
}